.vs/
.vs/progforreznik/v15/Server/sqlite3/storage.ide-wal
.vs/progforreznik/v15/.suo
.vs/progforreznik/v15/Server/sqlite3/storage.ide
.vs/progforreznik/v15/Server/sqlite3/db.lock
.vs/progforreznik/v15/Server/sqlite3/storage.ide-shm
